* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

:root {
  --color-pink-1: #d71f53;
  --color-pink-2: #ff81a5;
  --color-pink-3: #eecad3;
  --color-white: #ffffff;
  --color-black: #000;
  --color-grey0: #f8f8f8;
  --color-grey-1: #dbe1e8;
  --color-grey-2: #b2becd;
  --color-grey-3: #6c7983;
  --color-grey-4: #454e56;
  --color-grey-5: #2a2e35;
  --color-grey-6: #12181b;
  --color-green-1: #144202;
  --color-green-2: #00752f;
  --color-green-3: #b0e2c4;
  --br-sm-2: 14px;
  --box-shadow-1: -3px 15px rgba(0, 0, 0, .3);
}

body {
  background-color: white;
  font-family: "Courier", serif;
  color: var(--color-green-1);
  overflow-x: hidden;
  transition: all 0.4s ease-in-out;
}

h2{
  text-transform: uppercase;
  font-size: 3em;
  color: var(--color-pink-1);
  font-style: italic;
  margin-top: 5rem;
}

#intro h3{
  font-size: 2.5rem;
  color: var(--color-pink-1);
  opacity: 0.7;
  font-style: italic;
  margin-top: 1rem;
}

h3{
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: bolder;
  color: var(--color-green-2);
  opacity: 0.7;
  margin-top: 1rem;
}

p{
  margin-top: 1rem;
  font-size: 20px;
}

.big-text{
  font-size: 3rem;
  opacity: 0.75;
}

span{
  color: var(--color-pink-1);
  font-style: italic;
}

/* GENERAL SECTIONS */

header{
  position: sticky;
  top: 0;
  background-color: var(--color-pink-2);
  min-height: 75px;
  padding: 0rem 15rem;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1{
  font-size: 3rem;
  text-transform: uppercase;
}
  header h1:hover {
    cursor: pointer;
  }

.nav-bar{
  display: flex;
  column-gap: 20px;
  position: relative;
  height: 75px;
}

header button{
  padding: 5px;
  border: none;
  background-color: transparent;
  font-family: inherit;
  color: inherit;
  font-size: inherit;
  transition: all 0.3s ease-in-out;
}

header button:hover{
  color: var(--color-white);
  background-color: var(--color-green-1);
  transition: all 0.3s ease-in-out;
  font-size: 1.2rem;
  cursor: pointer;
}

header button.active-section{
  color: var(--color-white);
  background-color: var(--color-green-1);
  font-size: 1.2rem;
}

footer{
  background-color: var(--color-green-1);
  height: 100px;
  padding-left: 100px;
  padding-right: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

  .footer-content{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .footer-content p {
    margin: 0;
    font-size: 14px;
  }

  .footer-content i {
    font-size: 20px;
    margin-right: 5px;
  }

  .footer-content .source-code {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
  }

  .footer-content a:hover {
    color: var(--color-pink-1);
  }

.section{
  padding: 2rem 15rem 5rem 15rem;
}

/* INTRO SECTION */
.section#intro {
  padding-bottom: 0;
}

#intro {
  display: grid;
  grid-template-columns: 2fr 1fr;
  height: 80vh;
}

  .intro-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #intro p {
    padding-bottom: 1rem;
  }

  #intro .about-me-image {
    display: flex;
    align-items: flex-end;
  }

  #snow-julia {
    max-height: 450px;
    display: flex;
    align-items: flex-end;
  }

  #intro .intro-connect {
    background-color: var(--color-green-3);
    display: flex;
    justify-content: space-between;
    padding: 0rem 1rem;
  }

  #intro .intro-connect p {
    font-style: italic;
    width: 75%;
  }

  #intro .connect-icons {
    display: flex;
    column-gap: 10px;
  }

  #intro .intro-connect a {
    text-decoration: none;
    color: inherit;
    display: flex;
    font-size: 2rem;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;
  }

  #intro .intro-connect a:hover {
    color: var(--color-pink-1);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
  }

.skills-container{
  display: flex;
  justify-content: space-between;
  min-height: 100px;
}

.skills-container .skill:hover{
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}

.skills-container .skill{
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.1s ease-in-out;
}

.skills-container .skill i{
  font-size: 3rem;
  color: var(--color-black);
}

/* EXPERIENCE SECTION */
#experience{
  background-color: var(--color-pink-3);
}

.experience-content{
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
}

  .experience-content h3 {
    margin-top: 0;
  }

  .experience-item {
    padding: 20px;
    border: 3px solid var(--color-pink-2);
    border-radius: 10px;
    background: white;
    box-shadow: 5px 5px 10px var(--color-grey-3);
    margin: 20px 5px;
    height: auto;
  }

  .experience-item.active{
    animation: expand-experience 1s ease-in-out;
    animation-fill-mode: forwards;
  }

    .experience-company{
      color: var(--color-pink-1);
      font-weight: bold;
      text-transform: uppercase;
      font-size: 1.5rem;
      margin-top: 0;
    }

    .experience-details{
      color: var(--color-pink-1);
      font-style: italic;
      margin-top: 0;
    }

    .experience-desc{
      font-size: 18px;
    }

/* PROJECTS SECTION */
.project-items{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 30px;
  gap: 30px;
}

.project-card {
  border: 5px solid var(--color-green-2);
  border-radius: 5px;
  box-shadow: 5px 5px 10px var(--color-grey-3);
  height: 300px;
  width: 450px;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-description {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-green-3);
  opacity: 0;
}

.project-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  opacity: 0;
}

.project-card:hover .project-description {
  opacity: .9;
  transition: all 0.3s ease-in-out;
}

.project-card:hover .project-text {
  opacity: 1;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.project-card img {
  height: 100%;
  text-align: center;
  object-fit: cover;
}

.project-items h3{
  margin-top: 0;
  color: var(--color-pink-1);
}

.project-card i {
  font-size: 32px;
  margin-top: 10px;
}

  .project-card i:hover {
    color: var(--color-pink-1);
  }

/* BOOK SECTION */
#reading-list{
  background-color: var(--color-green-3);
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.book-section{
  min-height: 450px;
  display: flex;
  align-items: flex-end;
}

.currently-reading{
  position: relative;
  display: inline;
}

.currently-reading .currently-reading-tag{
  color: var(--color-pink-1);
  font-weight: bold
}

.currently-reading #julia-sitting{
  max-height: 200px;
  position: absolute;
  bottom: 240px;
  left: 120px;
}

.book{
  max-height: 300px;
  display: flex;
  align-items: flex-end;
}

/* CONTACT SECTION */
.contact-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.contact-form form {
  display: flex;
  flex-direction: column;
  outline: 2px solid var(--color-pink-3);
  padding: 15px;
  border-radius: 5px;
  box-shadow: 5px 5px 10px var(--color-grey-3);
}

  .contact-form button {
    border: none;
    border-radius: 5px;
    height: 30px;
    background-color: var(--color-green-3);
  }

  .contact-form input,
  .contact-form textarea {
    border-radius: 5px;
    border: none;
    min-height: 30px;
    background-color: var(--color-grey-1);
    padding: 10px;
    margin-bottom: 15px;
    font-family: 'Courier', Courier;
  }

  .contact-form input:focus,
  .contact-form textarea:focus {
    outline-color: var(--color-green-2);
  }

  .contact-form label {
    margin-bottom: 5px;
  }

  .contact-form #result {
    margin-top: 15px;
  }

  .contact-info a {
    color: var(--color-green-1);
    text-decoration: none;
    display: flex;
    align-items: center;
  }

  #contact .contact-info {
    height: 75%;
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  #contact .info-container {
    display: flex;
    align-items: center;
    padding: .5rem 0;
  }

  .contact-info p {
    font-size: 1rem;
    margin: 0;
  }

  .contact-info i {
    font-size: 2rem;
    margin-right: 20px;
    width: 2rem;
    text-align: center;
  }

  .contact-info a p:hover {
    text-decoration: underline;
  }

  .contact-info a:hover{
    color: var(--color-pink-1);
  }

/* ------- MEDIA QUERY ------- */

@media (max-width: 575px) {

  header {
    padding: 0 20px;
  }

    header h1, .big-text {
      font-size: 20px;
    }
    
    header .nav-bar {
      column-gap: 5px;
    }

    .nav-bar button, .nav-bar button.active-section,
    header button:hover {
      font-size: 10px;
    }

  .section {
    padding: 30px 20px;
  }

  h2 {
    margin-top: 0px;
    font-size: 24px;
  }

  #intro h3, .experience-content h3,
  .contact-info i,
  .skills-container .skill i,
  #intro .intro-connect i {
    font-size: 20px;
  }

  #intro {
    display: flex;
    flex-direction: column;
    height: auto;
  }

    .skills-container {
      min-height: 30px;
    }

      .skills-container .skill svg {
        width: 25px;
        height: 25px;
      }
    
    #intro .about-me-image {
      justify-content: center;
    }
    #snow-julia {
      max-height: 200px;
    }

  p, .experience-desc, 
  #contact .contact-info p,
  .contact-form label,
  .contact-form button,
  .footer-content p {
    font-size: 12px;
  }

  .experience-content {
    display: flex;
    flex-direction: column;
    margin: 10px 0px;
  }

    .experience-company {
      font-size: 16px;
    }

    .experience-item {
      margin: 5px 0px;
      padding: 10px;
    }

    .experience-desc {
      margin-top: 5px;
    }

  .project-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
  }

    .project-text {
      opacity: 1;
    }

    .project-description {
      opacity: 0.9;
    }

    .project-card {
      height: 200px;
      width: 300px;
    }
  
  #reading-list {
    display: none;
  }

  .contact-container {
    display: flex;
    flex-direction: column;
    align-items: initial;
    row-gap: 20px;
  }

    #contact .contact-info {
      justify-content: flex-start;
      padding: 0px;
    }

      .contact-info i {
        margin-right: 5px;
      }

  footer {
    padding: 0;
  }
}

@media (min-width: 576px) and (max-width: 1024px) {

  header {
    padding: 0px 50px;
  }
  .section {
    padding: 30px 50px;
  }

  header h1 {
    font-size: 32px;
  }

  #intro {
    display: flex;
    justify-content: center;
    column-gap: 10px;
    height: auto;
  }

    .intro-text {
      width: 40%;
    }

    .skills-container .skill i {
      font-size: 30px;
    }

    .skills-container .skill svg {
      width: 30px;
      height: 30px;
    }

  .experience-content {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    margin: 30px 0px;
  }

    .experience-content .experience-item {
      margin: 0;
    }

  .project-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
  }

  #reading-list {
    display: none;
  }

  .contact-container {
    display: initial;
  }

    .contact-form {
      margin-top: 20px;
      margin-bottom: 10px;
    }
}